USE [master]
GO
/****** Object:  Database [Aukcija]    Script Date: 19.4.2017. 10:54:23 ******/
CREATE DATABASE [Aukcija]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aukcija', FILENAME = N'C:\Ljubica\c# zadaci\BPZadatak\Aukcija.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aukcija_log', FILENAME = N'C:\Ljubica\c# zadaci\BPZadatak\Aukcija_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aukcija].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aukcija]
GO
USE [Aukcija]
GO
/****** Object:  Table [dbo].[Podaci]    Script Date: 19.4.2017. 10:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Podaci](
	[IdProizvoda] [nchar](10) NOT NULL,
	[Naziv] [nvarchar](50) NULL,
	[PocetnaCijena] [int] NULL,
	[ZadnjaCijena] [int] NULL,
	[ZadnjaPonuda] [nvarchar](50) NULL,
 CONSTRAINT [PK_Podaci] PRIMARY KEY CLUSTERED 
(
	[IdProizvoda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[povecajzajedan]    Script Date: 19.4.2017. 10:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[povecajzajedan]
@IdProizvoda int
AS
UPDATE Podaci SET ZadnjaCijena=Isnull(ZadnjaCijena,0) +1
WHERE IdProizvoda=@IdProizvoda;

GO
USE [master]
GO
